@charset "UTF-8"; 

:root {
    --cor00: rgba(255, 255, 255, 0.644);
    --cor01: #210c47;
    --cor02: rgb(235, 144, 9);
    --cor03:  #722af7;
    --cor04:  #1625b1;
    --font01: 'Arial, Helvetica, sans-serif';
    --font02: 'system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';
}

@media screen and (min-width:768px) and (max-width:992px) {
    
    body {
        background-image: linear-gradient(to bottom, var(--cor01), var(--cor03));
    }

    section#login {
        width: 90vw;
        height: 370px;
    }

    #login > div#imagem {
        background:gray url(../imagens/img-media.jpg) no-repeat top center;
        background-size: cover;
        height: 100%;
        width: 40%;
        float: left;
        
        
    }

    #login > div#formulario {
      width: 60%;
      float: right;
      height: 100%;
      position: relative;
    }

    #login > div#formulario > p {
       
        margin: 20px 0px;
        font-size: 1.1em;
      }

      #login > div#formulario > h1 {
        margin-top: 25px;
        font-size: 1.9em;
    }

    div.campo > input {
        height: 30px;
        padding: 8px;
        width: calc(100% - 44px);
        transform: translateY(-10px);
        margin-top: 15px;
    }

    form > input[type=submit] {
        margin-top: 40px;
    }
}

@media screen and (min-width:992px) {
   
    body {
        background-image: linear-gradient(to bottom, var(--cor01), var(--cor03));
    }
    
    section#login {
        width: 990px;
        height: 400px;
    }

    section#login > div#imagem {
        width: 50%;
        height: 100%;
        float: right;
        background: url(../imagens/img-grande.jpg) no-repeat center center;
        background-size: cover;
    }
     #login > div#formulario {
      float: left;
      width: 50%;
    }

    #login > div#formulario > h1 {
       font-size: 2em;
       margin-top: 30px;
    }
    
    #login > div#formulario > p {
        font-size: 1.2em;
        margin-top: 19px;
    }

    div.campo > input {
        height: 30px;
        padding: 8px;
        width: calc(100%-50px);
        transform: translateY(-10px);
        margin-top: 40px;
    }

    form > input[type=submit] {
        margin-top: 60px;
    }
}